* {
  scroll-behavior: smooth;
}

body {
  font-family: serif;
  background-color: #000;
  color: #ffffff;
  margin: 0;
  animation-name: efect_1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

article {
  background-color: rgb(44, 43, 43);
  border-bottom: solid #fff 1px;
  padding: 1.5rem;
}

.resaltado {
  color: yellow;
}

#titulo_del_blog {
  padding-top: 8rem;
  text-align: center;
  font-size: clamp(2rem, 1% + 2rem, 7rem);
}

.ilustracion {
  border: solid #fff 4px;
  display: inline-block;
}

.ilustracion figcaption {
  margin-top: 1rem;
  margin-left: 1rem;
  font-style: italic;
}

#footer_blog {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem, 0;
  font-size: 1.3rem;
}

#footer_blog div:nth-child(2) {
  font-size: 0.9rem;
}

nav {
  font-size: 1.3rem;
  position: fixed;
  width: 100%;
  background-color: #000;
}

.nav-bottom {
  border-bottom: solid #fff 5px;
  animation-name: efect_2;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: greenyellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

@keyframes efect_1 {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes efect_2 {
  0% {
    transform: translate3d(-1500px, 0px, 0px);
  }

  100% {
    transform: translate3d(0, 0px, 0px);
  }
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 3rem;
}

section header {
  grid-column: span 12;
}

main {
  grid-column: span 12;
}

aside {
  grid-column: span 12;
}

footer {
  grid-column: span 12;
}

article header hgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article header hgroup h2 {
  display: flex;
  align-items: center;
}

article header hgroup h2 img {
  margin-right: 1rem;
}

aside h2 {
  text-align: center;
  font-size: 1.3rem;
}

aside div:nth-child(even) {
  background-color: rgb(44, 43, 43);
}

aside div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.6rem;
  border-bottom: 1px dashed #fff;
}

aside img {
  margin-left: 15px;
}

.ScrollTop {
  opacity: 0.1;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border-radius: 1px solid #000;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.ScrollTop:hover {
  background-color: greenyellow;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

aside div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.6rem;
  border-bottom: 1px dashed #fff;
}

@media (min-width: 1100px) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 1024.1px) {
  main {
    grid-column: span 8;
  }

  aside {
    grid-column: span 4;
  }
}

@media (max-width: 1100px) {
  #titulo_del_blog {
    padding-top: 12rem;
  }
}

@media (max-width: 1024.1px) {
  aside div {
    flex-direction: column;
  }

  #footer_blog {
    flex-direction: column;
  }
}
