body {
  background-color: black;
  color: #ffffff;
}

article {
  background-color: rgb(44, 43, 43);
}

.Economiamx {
  text-align: center;
  font-size: 3rem;
}

.Lineasdedistribucion {
  text-align: center;
  font-size: 3rem;
}