body {
  background-color: black;
  color: #ffffff;
}
nav ul li{
  list-style: none;
}

nav ul li a{
text-decoration: none;
}

article {
  background-color: rgb(44, 43, 43);
  border-bottom: solid, white, 1px;
}

.resaltado {
  color: yellow;
}

#titulo_del_blog {
  text-align: center;
  font-size: 3rem;
}

.ilustracion {
  border: solid, white, 4px;
  display: inline-block;
}

#footer_blog{
  margin: 2rem;
}
