body {
  background-color: black;
  color: #ffffff;
}

article {
  background-color: rgb(44, 43, 43);
}

.resaltado {
  color: yellow;
}

#titulo_del_blog {
  text-align: center;
  font-size: 3rem;
}
